{% if site.education %}
    <div class="wrapper">
        <div class="bg-4 wrapper1">
            {% for job in site.experience %}
                <h1 class="text-color-3">{{ job.title }}, {{ job.company }}</h1>
                <h1>{{ job.location }} — {{ job.timeframe }}</h1>
                {% if job.text %}
                    <ul>
                        {% for item in job.text %}
                            <li style="font-size:x-large;white-space:pre-wrap;word-wrap:break-word;">{{ item }}</li>
                        {% endfor %}
                    <!-- <pre class="border border-primary" style="font-size:x-large;white-space:pre-wrap;word-wrap:break-word;">{{ job.text }}</pre> -->
                    </ul>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endif %}