<div class="bg-1" style="height:21vh;font-size:4vw;padding:4vh;">
    <div class="d-inline-block"><h1 class="display-3 text-color-4"><strong>{{ site.name }}</strong> <small class="text-color-5">/ {{ site.jobtitle }}</small></h1></div>
    <div class="p-4 align-middle float-end d-inline-block display-6 text-color-5">
        <a class="link-nav" href="/" data-replace="About Me"><span class="p-2">About Me</span></a>
        <a class="link-nav" href="/resume" data-replace="Résumé"><span class="p-2">Résumé</span></a>
        <a class="link-nav" href="/contact" data-replace="Contact"><span class="p-2">Contact</span></a>
    </div>
</div>