---
layout: default
---
<div class="w-100" style="height:79vh;">
    <div class="d-inline-block bg-3" style="width:40%;height:100%;"></div>
    <div class="d-inline-block bg-4 h-100 float-end" style="width:60%;"></div>
</div>
<div class="d-flex w-100 p-4 position-absolute" style="height:79vh;overflow:hidden;">
    <div id="image-container" class="w-50 h-100" style="padding:5% 5% 5% 8%;">
        <div class="w-100 h-100" style="overflow:hidden;">
            <img src="assets/images/{{ site.home.photo }}">
        </div>
    </div>
    <div id="bio-container" class="w-50 h-100 d-inline-flex float-end">
        <div class="w-100 py-3">
            <h1 class="display-2"><strong>{{ site.home.title }}</strong></h1>
            {% if site.home.subtitle %}
            <h1 class="display-6" style="font-size: 2rem;">{{ site.home.subtitle }}</h1>
            {% endif %}
            <p class="display-6 px-4 text-break" style="font-size: 1.2rem;">{{ site.home.text | newline_to_br }}</p>
        </div>
    </div>
</div>